<div class=" h-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="../..">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ftd/order/view">Ver ordenes</a>
            </li>
        </ul>
    </div>
</div>
<div class=" h-100 d-flex justify-content-center align-items-center">
    <h1>Crear una orden</h1>
</div>
<div class="h-50 d-flex justify-content-center align-items-center border rounded">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" #crudForm = "ngForm">
        <p></p>
        <div class="form-group row">
            <label class="control-label col-md-3">Proveedor: </label>
            <div class="col-md-8">
                <select class="form-control"
                        id="suppliers"
                        name="suppliers"
                        [(ngModel)] = "suppObj.codigo"
                        (change) = "onChangeSupp($event.target)"
                        required>
                        <option value="">Seleccione el proveedor</option>
                        <option *ngFor = "let supp of suppliers" [value] = "supp.codigo">
                        {{supp.nombre}}</option>
                 </select>
            </div>
        </div>
        <p></p>
        <div class="form-group row">
            <label class="control-label col-md-3">Producto: </label>
            <div class="col-md-8">
                <select class="form-control"
                    id="products"
                    name="products"
                    [(ngModel)] = "prodObj.codigo"
                    required>
                    <option value="">Seleccione el producto</option>
                    <option *ngFor = "let product of productsSelected" [value] = "product.codigo">
                    {{product.nombre}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="form-group row">
            <label class="control-label col-md-3">Cantidad</label>
            <div class="col-md-8">
                <input class="form-control"
                autocomplete="off"
                type="text"
                [(ngModel)] = "cantidad"
                name = "cantidad"
                required>
            </div>
        </div>
        <p></p>
        <div class="row">
            <button class="btn btn-primary" type="submit" [disabled] = "!crudForm.valid" >
                <i class="fa fa-fw fa-lg fa-check-circle"></i>Guardar
              </button>
        </div>
        <p></p>
    </form>
</div>