<div class=" h-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="../..">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="supp/order/view">Ver ordenes solcitadas</a>
            </li>
        </ul>
    </div>
</div>
<div class=" h-100 d-flex justify-content-center align-items-center">
    <h1>Inventario actual</h1>
</div>
<div class=" h-100 d-flex justify-content-center align-items-center">
    <div class="table-responsive">
        <table
        datatable
        class="table table-hover table-bordered responsive"
        cellspacing="0"
        id="productsTable">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Nombre Producto</th>
                <th>Costo unitario</th>
                <th>Total inventario</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor = "let inventory of this.inventoryList; let i = index">
                <tr class = "clickableIcon">
                  <td>{{inventory.codigo}} </td>
                  <td>{{inventory.nombre}} </td>
                  <td>{{inventory.costo_unitario}} </td>
                  <td>{{inventory.inventario}} </td>
                </tr>
              </ng-container>
            </tbody>
        </table>
    </div>
</div>

